.restaurants {
  &__title {
    color: var(--c-neutral-black);
    font-family: var(--ff);
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.1px;
    margin-bottom: 16px;
  }

  &__list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
  }
}

.restaurants-item {
  display: inline-block;
  border-radius: 16px;
  border: 1px solid var(--c-light-gray);
  background: var(--c-white);
  max-width: 350px;
  transition: var(--transition);
  @media (min-width: 992px) {
    &:hover {
      border-color: var(--c-primary-hover);
      transform: translateY(-5px);
    }
  }

  &__img {
    max-width: 350px;
  }

  img {
    border-radius: 16px 16px 0 0;
    object-fit: cover;
  }

  &__card {
    padding: 16px;
  }

  &__info-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 6px;
  }

  &__title {
    color: var(--c-neutral-black);
    font-family: var(--ff);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  &__info-time {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 14px;
  }

  &__time,
  &__price {
    color: var(--c-neutral-gray);
    font-family: var(--ff);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__tag {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 4px 10px;
    border-radius: 100px;
    background: var(--c-light-gray);
  }

  &__name {
    color: var(--c-neutral-gray-dark);
    font-family: var(--ff);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
  }
}
