<div class="header">
  <div class="container header__container">
    <div class="header-left">
      <a href="/" class="header-left__logo">
        <img src="assets/logo.svg" alt="Logo" />
      </a>
      <div class="header-left__search">
        <input type="search" placeholder="Search" />
        <span class="material-icons">search</span>
      </div>
    </div>
    <div class="header-right">
      <div class="header-right__nav">
        <a routerLink="/" class="header-right__a">Restaurants</a>
        <a routerLink="deals" class="header-right__a">Deals</a>
        <span></span>
        <a routerLink="profile" class="header-right__a">My orders</a>
      </div>
      <a href="/" class="header-right__cart">
        <img src="assets/bag.svg" alt="Bag" />
        <img class="number" src="assets/number.svg" alt="Number" />
      </a>
      <a href="/" class="header-right__avatar">
        <img src="assets/avatar.png" alt="Avatar" />
      </a>
    </div>
  </div>
</div>
