<div class="food-list">
  <a href="/" class="food-item food-item_cursor">
    <div class="food-item__img">
      <img src="assets/pizza.svg" alt="Pizza" />
      <img class="hand" src="assets/hand.svg" alt="Hand" />
    </div>
    <div class="food-item__title">Pizza</div>
  </a>
  <a href="/" class="food-item food-item_active">
    <div class="food-item__img">
      <img src="assets/burger.svg" alt="Burger" />
    </div>
    <div class="food-item__title">Burger</div>
  </a>
  <a href="/" class="food-item">
    <div class="food-item__img">
      <img src="assets/meat.svg" alt="Meat" />
    </div>
    <div class="food-item__title">BBQ</div>
  </a>
  <a href="/" class="food-item food-item_active">
    <div class="food-item__img">
      <img src="assets/sushi.svg" alt="Sushi" />
    </div>
    <div class="food-item__title">Sushi</div>
  </a>
  <a href="/" class="food-item">
    <div class="food-item__img">
      <img src="assets/broccoli.svg" alt="Broccoli" />
    </div>
    <div class="food-item__title">Vegan</div>
  </a>
  <a href="/" class="food-item">
    <div class="food-item__img">
      <img src="assets/cake.svg" alt="Cake" />
    </div>
    <div class="food-item__title">Desserts</div>
  </a>
</div>
