<div class="adv">
  <a routerLink="/" class="adv-card adv-card_left">
    <div class="adv-card__img">
      <img src="assets/cake.png" alt="Cake" />
    </div>
    <div class="adv-card__info">
      <div class="adv-card__title">All deserts</div>
      <div class="adv-card__price adv-card__price_left">20% OFF</div>
      <div class="adv-card__name">Deserty</div>
    </div>
  </a>
  <a routerLink="/" class="adv-card adv-card_right">
    <div class="adv-card__img">
      <img src="assets/burger.png" alt="Burger" />
    </div>
    <div class="adv-card__info">
      <div class="adv-card__title">Big Burgers</div>
      <div class="adv-card__price adv-card__price_right">50% OFF</div>
      <div class="adv-card__name">Fooddies</div>
    </div>
  </a>
</div>
