:root {
  --ff: "Nunito", sans-serif;

  --c-white: #fff;
  --c-neutral-black: #2b2b43;
  --c-neutral-gray: #83859c;
  --c-light-gray: #edeef2;
  --c-primary-light: #f3f4ff;
  --c-secondary-light: #fff3ed;
  --c-primary-default: #4e60ff;
  --c-secondary-default: #fd6d22;
  --c-neutral-gray-dark: #545563;
  --c-primary-hover: #697bff;
}
